---
import Main from "../layouts/Main2.astro";
import { projjects } from "../data/projects"; 


const bgImage = "/images/your-background.jpg";
---

<Main title="Inicio" bgImage={bgImage}>
  <span class="saturate-75">
  <div class="keen-slider h-screen relative">
    {projjects.slice(0, 5).map((project, index) => (
      <div class="keen-slider__slide bg-cover bg-center absolute top-0 left-0 w-full h-full opacity-0 z-10" style={`background-image: url(${project.image});`}>
        <a href={project.link} class="cursor-pointer">
          <div class="absolute bottom-10 left-0 p-8 text-white hidden">
            <h1 class="ml-4 text-4xl lg:text-5xl xl:text-6xl font-sans font-bold text-pryctgray hover:-translate-y-2 transition-all parallax-txt">2{project.title}</h1>
            <h3 class="ml-4 text-black font-bold font-serif uppercase mt-3">{project.location}</h3>
          </div>
        </a>
      </div>
    ))}
  </div>
  </span>
</Main>

<style>
.parallax-txt {
  transition: transform 0.3s ease-out;
  will-change: transform;
}	

.keen-slider .keen-slider__slide {
  position: absolute;
  opacity: 0;
  filter: grayscale(1);
  transition: opacity 3s cubic-bezier(0.42, 0, 0.58, 1) !important; 
}

  .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide{
    position: absolute !important;
  }
</style>
