---
import WhiteBG from "./WhiteBG.astro";
import Carousel from "../components/Carousel.astro";

const { frontmatter } = Astro.props;

---


<WhiteBG title="Casa RA">
    <div class="border border-dashed border-red-500">
        <Carousel carouselImg1={frontmatter.img1} carouselImg2={frontmatter.img2} carouselImg3={frontmatter.img3} carouselImg4={frontmatter.img4} carouselImg5={frontmatter.img5}/>
    </div>
    <div class="container mx-auto border border-dashed border-blue-500">
        <div class="py-12 px-4 md:px-0">
            <p class="text-3xl">{frontmatter.title}</p>
            <h1 class="text-6xl font-semibold">{frontmatter.proyect}</h1>
        </div>
        <div class="py-8 px-4 md:px-0">
            <div class="md:columns-2 columns-1 gap-5">
                <slot/>
            </div>
            <div class="py-8">
                <div class="w-100 flex flex-row flex-nowrap justify-start pb-8">
                        <div class="w-40 mr-12">Location</div>
                        <div class="font-bold">{frontmatter.location}</div>
                </div>
                <div class="w-100 flex flex-row flex-nowrap justify-start pb-8">
                        <div class="w-40 mr-12">Typology</div>
                        <div class="font-bold">{frontmatter.typology}</div>
                </div>
                <div class="w-100 flex flex-row flex-nowrap justify-start">
                        <div class="w-40 mr-12">Date</div>
                        <div class="font-bold">{frontmatter.date}</div>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- Other Projects -->
    <div class="md:px-0 bg-gray-100">
        <div class="container mx-auto">
                <p class="p-4 font-semibold uppercase">Other Projects</p>
                <!-- -->
            <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:gap-8 p-4">
                <a href="">
                    <div class="relative group">
                        <div class="opacity-0 group-hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-center text-white font-semibold">
                          <ul>
                            <li>
                              <p class="text-base drop-shadow">Un Lugar</p>
                            </li>
                            <li>
                                <p class="text-2xl drop-shadow">El Nombre del Proyecto</p>
                              </li>
                            <li>
                              <p class="text-base drop-shadow">2023</p>
                            </li>
                          </ul>
                        </div>
                        <div class="bg-white-700">
                            <img class="flex-1 h-auto max-w-full p-2 group-hover:opacity-70 duration-300" src="https://picsum.photos/1000/500" alt="" />
                        </div>
                      </div>
                </a>
                <a href="">
                    <div class="relative group">
                        <div class="opacity-0 group-hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-center text-white font-semibold">
                          <ul>
                            <li>
                              <p class="text-base drop-shadow">Un Lugar</p>
                            </li>
                            <li>
                                <p class="text-2xl drop-shadow">El Nombre del Proyecto</p>
                              </li>
                            <li>
                              <p class="text-base drop-shadow">2023</p>
                            </li>
                          </ul>
                        </div>
                        <div class="bg-white-700">
                            <img class="flex-1 h-auto max-w-full p-2 group-hover:opacity-70 duration-300 " src="https://picsum.photos/1000/500" alt="" />
                        </div>
                      </div>
                </a>
                <a href="">
                    <div class="relative group">
                        <div class="opacity-0 group-hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-center text-white font-semibold">
                          <ul>
                            <li>
                              <p class="text-base drop-shadow">Un Lugar</p>
                            </li>
                            <li>
                                <p class="text-2xl drop-shadow">El Nombre del Proyecto</p>
                              </li>
                            <li>
                              <p class="text-base drop-shadow">2023</p>
                            </li>
                          </ul>
                        </div>
                        <div class="bg-white-700">
                            <img class="flex-1 h-auto max-w-full p-2 group-hover:opacity-70 duration-300 " src="https://picsum.photos/1000/500" alt="" />
                        </div>
                      </div>
                </a>
                
              </div>
        </div>
    </div>

</WhiteBG>