---
import NavBar2 from "../components/NavBar2.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import '@fontsource-variable/plus-jakarta-sans';
const { title, altBG } = Astro.props;
const layoutLogo = "bluLogo";
const footerBG = 'bg-pryctlightgray';

import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={SITE_DESCRIPTION}>
		<title>{SITE_TITLE} - {title}</title>
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css"
      />
        <link rel="stylesheet" href="../styles/global.css">
	</head>
	<body>
        <div class="bg-no-repeat bg-cover min-h-screen flex flex-col overflow-x-hidden" style={altBG}>
            <header class="max-w-screen">
                <NavBar2 layoutLogo={layoutLogo}/>
            </header>
            <div class="flex-1 flex flex-col sm:flex-row">
                <main class="flex-1">
                    <slot/>
                </main>
            </div>
            <footer class={`${footerBG} max-w-screen`}>
                <Footer/>
            </footer>
        </div>
        <script src="../scripts/hmbrgr.js"></script>
        <script src="../scripts/slider.js"></script>
        <script is:inline src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
        <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>

